
{% for content in entry.contents %}
{% if content.notes %}
<div class="title font-weight-bold ml-1 ml-md-4">Notes:</div>
<ul>
    {% for item in content.notes %}
    {% for subitem in item.contents %}
    <li>
        {{subitem.link}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}


{% if content.videos %}
<div class="title font-weight-bold ml-1 ml-md-4">Videos:</div>
<ul>
    {% for item in content.videos %}
    {% for subitem in item.contents %}
    <li>
   {{subitem.link}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}


{% if content.books %}
<div class="title font-weight-bold ml-1 ml-md-4">Recommended Reading:</div>
<ul>
    {% for item in content.books %}
    {% for subitem in item.contents %}
    <li>
        <i class="fa fa-book"></i> {{subitem.book}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}



{% if content.git_repos %}
<div class="title font-weight-bold ml-1 ml-md-4">Git Repositories: </div>
<ul>
    {% for item in content.git_repos %}
    {% for subitem in item.contents %}
    <li>
        <i class="fab fa-github-alt"></i> {{subitem.repo}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}

{% endfor%}

