
{% for content in entry.contents %}
{% if content.notes %}
<div class="title font-weight-bold ml-1 ml-md-4">Notes:</div>
<ul>
    {% for item in content.notes %}
    {% for subitem in item.contents %}
    <li>
        {{subitem.link}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}


{% if content.videos %}
<div class="title font-weight-bold ml-1 ml-md-4">Videos:</div>
<ul>
    {% for item in content.videos %}
    {% for subitem in item.contents %}
    <li>
        {{subitem.link}}
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}

{% endfor%}

